.flexlinear {
  display: flex;
  flex-direction: row;
}
.flexlinear > * {
  flex: 0 0 auto;
}
.flexlinear > .spacer-end {
  flex: 1 1 auto !important;
}
.flexlinear.row {
  display: flex;
  flex-direction: row;
}
.flexlinear.row > * {
  flex: 0 0 auto;
}
.flexlinear.row > .spacer-end {
  flex: 1 1 auto !important;
}
.flexlinear.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flexlinear.row-reverse > * {
  flex: 0 0 auto;
}
.flexlinear.row-reverse > .spacer-end {
  flex: 1 1 auto !important;
}
.flexlinear.column {
  display: flex;
  flex-direction: column;
}
.flexlinear.column > * {
  flex: 0 0 auto;
}
.flexlinear.column > .spacer-end {
  flex: 1 1 auto !important;
}
.flexlinear.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.flexlinear.column-reverse > * {
  flex: 0 0 auto;
}
.flexlinear.column-reverse > .spacer-end {
  flex: 1 1 auto !important;
}
.flexwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexwrap.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexwrap.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.flexwrap.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flexwrap.column-reverse {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
.flexfit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexfit > * {
  flex: 1 0 auto;
}
.flexfit.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexfit.row > * {
  flex: 1 0 auto;
}
.flexfit.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.flexfit.row-reverse > * {
  flex: 1 0 auto;
}
.flexfit.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flexfit.column > * {
  flex: 1 0 auto;
}
.flexfit.column-reverse {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
.flexfit.column-reverse > * {
  flex: 1 0 auto;
}
.flexblocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexblocks > * {
  flex: 0 0 auto;
}
.flexblocks.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexblocks.row > * {
  flex: 0 0 auto;
}
.flexblocks.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.flexblocks.row-reverse > * {
  flex: 0 0 auto;
}
.flexblocks.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flexblocks.column > * {
  flex: 0 0 auto;
}
.flexblocks.column-reverse {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
.flexblocks.column-reverse > * {
  flex: 0 0 auto;
}
.flexgrid.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexgrid.row > * {
  flex: 1 1 auto;
}
.flexgrid.row > .dummy {
  height: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.flexgrid.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.flexgrid.row-reverse > * {
  flex: 1 1 auto;
}
.flexgrid.row-reverse > .dummy {
  height: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.flexgrid.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flexgrid.column > * {
  flex: 1 1 auto;
}
.flexgrid.column > .dummy {
  width: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.flexgrid.column-reverse {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
.flexgrid.column-reverse > * {
  flex: 1 1 auto;
}
.flexgrid.column-reverse > .dummy {
  width: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.frame > .container {
  flex: 1, 1, auto;
  align-self: stretch;
}
[class*="ic-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type="text"],
input[type="password"] {
  -webkit-appearance: none;
  border: none;
  width: 0%;
}
input:focus {
  outline: none;
}
textarea {
  border: none;
}
textarea:focus {
  outline: none;
}
button {
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
  border: none;
}
button > .frame > .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
button > .frame > .container > * {
  flex: 0, 0, auto;
}
@import 'external/normalize.css';
body {
  margin: 1.25rem;
}
.hithere {
  background-color: #ddd;
  margin-bottom: 2.5rem;
}
.gutter-clear {
  overflow: hidden;
}
.test {
  background-color: #aaa;
}
.test > * {
  background: #333;
  color: #fff;
}
.gutter {
  margin-top: -1.25rem;
  margin-left: -1.25rem;
}
.gutter > * {
  margin-top: 1.25rem;
  margin-left: 1.25rem;
}
.gutter-pad {
  margin-top: -1.25rem;
  margin-left: -1.25rem;
}
.gutter-pad > * {
  padding-top: 1.25rem;
  padding-left: 1.25rem;
}
.gutter-pad > * {
  border: 1px solid #666;
}
html[dir='ltr'] .gutter-seq > * {
  margin-right: 2.5rem;
}
html[dir='rtl'] .gutter-seq > * {
  margin-left: 2.5rem;
}
html[dir='ltr'] .gutter-seq > *:first-child {
  margin-right: none;
}
html[dir='rtl'] .gutter-seq > *:first-child {
  margin-left: none;
}
.gutter-seq > * {
  border: 1px solid #666;
}
.gutter-seq-this > * {
  border: 1px solid #666;
}
html[dir='ltr'] .gutter-seq-this > * {
  margin-right: 2.5rem;
}
html[dir='rtl'] .gutter-seq-this > * {
  margin-left: 2.5rem;
}
html[dir='ltr'] .gutter-seq-this > *:first-child {
  margin-right: none;
}
html[dir='rtl'] .gutter-seq-this > *:first-child {
  margin-left: none;
}
.flexgrid.row > *,
.flexblocks.row > * {
  width: 6.25rem;
  height: 4.6875rem;
}
